@font-face {
  font-family: 'proxima_nova_light';
  src: url("../fonts/proximanova-light-webfont.woff2") format("woff2"), url("../fonts/proximanova-light-webfont.woff") format("woff"), url("../fonts/proximanova-light-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova_semibold';
  src: url("../fonts/proximanova-semibold-webfont.woff2") format("woff2"), url("../fonts/proximanova-semibold-webfont.woff") format("woff"), url("../fonts/proximanova-semibold-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 0; }

body {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  height: 100vh;
  min-height: 480px;
  min-width: 480px;
  background: url(../img/bg.png) no-repeat center center fixed;
  background-size: cover; }

.login-form {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  box-sizing: border-box;
  min-width: 470px;
  min-height: 640px;
  padding: 60px 30px 65px 30px;
  background-color: #0c0d11; }

.login-form__head {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 65px; }

.login-form__header {
  display: block;
  font-family: 'proxima_nova_light';
  font-weight: 300;
  font-style: normal;
  font-size: 48px;
  color: #969696; }

.login-form__logo {
  display: block; }

.login_form__create-account {
  font-family: 'proxima_nova_light';
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  color: #969696; }
  .login_form__create-account a {
    display: inline-block;
    margin-left: 30px;
    color: #d29d41;
    text-decoration: none; }

.login-form__form {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }

.login-form__input {
  display: block;
  position: relative;
  width: 100%;
  height: 81px;
  margin-bottom: 28px;
  padding-left: 22px;
  padding-right: 24px;
  background-color: #18191e;
  background-repeat: no-repeat;
  background-position: right 24px center;
  border: none;
  box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.04);
  border-left: 2px solid rgba(255, 255, 255, 0);
  outline: 0;
  outline-offset: 0;
  font-family: 'proxima_nova_semibold';
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  color: #969696; }
  .login-form__input:focus {
    border-left: 2px solid #d29d41; }

.login-form__input--arian {
  background-image: url("../img/glyphicons_003_user.png"); }

.login-form__input--password {
  background-image: url("../img/glyphicons_248_asterisk.png"); }

.login-form__input--submit {
  padding: 0;
  border: none;
  background-color: #d29d41;
  background-image: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #6c411b;
  box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.38);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3); }
  .login-form__input--submit:hover {
    padding-top: 3px;
    opacity: 0.95; }

/*# sourceMappingURL=style.css.map */
