$main-color:          #7dcbcf;
$warning-color:       #fdc05d;

$gray-light:          rgb(150, 150, 150);
$gray-dark:           rgb(12, 13, 17);
$gray-input:          rgb(24, 25, 30);
$yellow:              rgb(210, 157, 65);

$text-color:          $gray-dark;

$font-family:         -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
$font-size:           14px;
$line-height:         1.4;

$form-width:          470px;
$form-height:         640px;
$min-margin:          5px;

$screen-xs:           480px;
$screen-sm:           768px;
$screen-md:           992px;
$screen-lg:           1200px;

// ============================ FONTS ============================

@font-face {
    font-family: 'proxima_nova_light';
    src: url('../fonts/proximanova-light-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-light-webfont.woff') format('woff'),
         url('../fonts/proximanova-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }

@font-face {
    font-family: 'proxima_nova_semibold';
    src: url('../fonts/proximanova-semibold-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-semibold-webfont.woff') format('woff'),
         url('../fonts/proximanova-semibold-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }

@mixin proxima_nova_light($mx-font-size, $mx-font-color) {
  font-family: 'proxima_nova_light';
  font-weight: 300;
  font-style: normal;
  font-size: $mx-font-size;
  color: $mx-font-color;
}

@mixin proxima_nova_semibold($mx-font-size, $mx-font-color) {
  font-family: 'proxima_nova_semibold';
  font-weight: 300;
  font-style: normal;
  font-size: $mx-font-size;
  color: $mx-font-color;
}
