$main-color:          #7dcbcf;
$warning-color:       #fdc05d;

$gray-light:          rgb(150, 150, 150);
$gray-dark:           rgb(12, 13, 17);

$text-color:          $gray-dark;

$font-family:         -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
$font-size:           14px;
$line-height:         1.4;

$form-width:          470px;
$form-height:         640px;
$min-margin:          5px;

$screen-xs:           480px;
$screen-sm:           768px;
$screen-md:           992px;
$screen-lg:           1200px;

// ============================ FONTS ============================

@font-face {
    font-family: 'proxima_nova_light';
    src: url('../fonts/proxima_nova_light-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_light.woff') format('woff'),
         url('../fonts/proxima_nova_light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
